/* Tipografía y estructura base */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: lightgray;
  color: #333;
}

/* Títulos */
h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}
 
/* Botones genéricos */
button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #e61515;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b04b18;
}

button:disabled {
  margin:8px;
  padding:8px;
  background-color: #aaa;
  cursor: not-allowed;
}

/* Inputs */
input {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}
